<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/static/js/moment.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="/static/js/chartjs-plugin-streaming.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
    <style type="text/css">
        .main{
            display: flex;
        }
        
        .channels{
            flex:80%;
            display: flex;
        }
        .controls{
            flex:20%;
            background: #eee;
            padding: 15px;
        }
        .column{
            flex: 50%;
        }
        #chart, .chart-box {
            margin: 35px 20px;
            padding-top: 20px;
            padding-left: 10px;
            background: #fff;
            border: 1px solid #ddd;
            box-shadow: 0 22px 35px -16px rgba(0,0,0, 0.1);
        }
        .text-center {
			text-align: center;
		}
        .clearfix{
            clear: both;
        }
        .interface{
            padding-bottom: 20px;
        }
        ul{
            list-style: none;
            margin: 0px;
            padding: 0px;
        }
        .form-group .checkbox{
            width: 49%;
            display: inline-block;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="channels">
            <div class="column">
                <div class="chart-box">
                    <canvas id="chart1"></canvas>
                </div>
                <div class="chart-box">
                    <canvas id="chart2"></canvas>
                </div>
                <div class="chart-box">
                    <canvas id="chart3"></canvas>
                </div>
                <div class="chart-box">
                    <canvas id="chart4"></canvas>
                </div>
            </div>
            <div class="column">
                <div class="chart-box">
                    <canvas id="chart5"></canvas>
                </div>
                <div class="chart-box">
                    <canvas id="chart6"></canvas>
                </div>
                <div class="chart-box">
                    <canvas id="chart7"></canvas>
                </div>
                <div class="chart-box">
                    <canvas id="chart8"></canvas>
                </div>
            </div>
        </div>
        <div class="controls">
            <div class="interface clearfix">
                    <label>Channels</label>
                    <div class="form-group">
                        <div class="checkbox"> 
                            <div><input type="checkbox" id="cb1" checked="checked" onclick="checkboxOnClick(this, 1)"/><label for="cb1">Channel 1</label></div> 
                            <div><input type="checkbox" id="cb2" checked="checked" onclick="checkboxOnClick(this, 2)"/><label for="cb2">Channel 2</label></div> 
                            <div><input type="checkbox" id="cb3" checked="checked" onclick="checkboxOnClick(this, 3)"/><label for="cb3">Channel 3</label></div> 
                            <div><input type="checkbox" id="cb4" checked="checked" onclick="checkboxOnClick(this, 4)"/><label for="cb4">Channel 4</label></div> 
                        </div> 
                        <div class="checkbox">
                            <div><input type="checkbox" id="cb5" checked="checked" onclick="checkboxOnClick(this, 5)"/><label for="cb5">Channel 5</label></div> 
                            <div><input type="checkbox" id="cb6" checked="checked" onclick="checkboxOnClick(this, 6)"/><label for="cb6>">Channel 6</label></div> 
                            <div><input type="checkbox" id="cb7" checked="checked" onclick="checkboxOnClick(this, 7)"/><label for="cb6>">Channel 7</label></div> 
                            <div><input type="checkbox" id="cb8" checked="checked" onclick="checkboxOnClick(this, 8)"/><label for="cb6>">Channel 8</label></div> 
                        </div>
                    </div>
                        
                </div>
        </div>
    </div>
    <script>
		var chartColors = {
			red: 'rgb(255, 99, 132)',
			orange: 'rgb(255, 159, 64)',
			yellow: 'rgb(255, 205, 86)',
			green: 'rgb(75, 192, 192)',
			blue: 'rgb(54, 162, 235)',
			purple: 'rgb(153, 102, 255)',
			grey: 'rgb(201, 203, 207)'
		};

        var chartConfig={
            duration: 8000,
            delay: 1000,
        }

		function randomScalingFactor() {
            return Math.round(Math.random()*5);
		}

		function onReceive(event) {
			// window.myChart[event.index].config.data.datasets[0].data.push({
			// 	x: event.timestamp,
			// 	y: event.value
            // });
            event.data.forEach(
                function(item){
                    window.myChart[event.index].config.data.datasets[0].data.push(item);
                }
            )
			window.myChart[event.index].update({
				preservation: true
			});
		}

		var timeoutIDs = [];
        var tick=0;
        var returnData;
        function getDataByInterval(){
            //todo;
            $.ajax("/query_data", {
                cache: false,
                dataType: "json",
                success: function(res){
                    res=JSON.parse(res);
                    returnData=res.data;
                    for(var i=0; i<8; i++){
                        var rawData=res.data[i];
                        var data=[];
                        var count=0;
                        rawData.forEach(function(item){
                            data.push({
                                x: Date.now()+(count++)*10,
                                y: item
                            });
                        });

                        onReceive({
                            index: i+1,
                            data: data
                        });
                    }
                    
                },
                    
                error: function(){
                    console.log("connection fail");
                }

            })
        }
		function startFeed() {
            
			var receive = function() {
                getDataByInterval();
                timeoutIDs = setTimeout(receive, 1000 );
			}
            timeoutIDs = setTimeout(receive, 1000 );
            
		}

		function stopFeed() {
			clearTimeout(timeoutIDs);
		}

		var color = Chart.helpers.color;
        
		window.onload = function() {
            window.myChart=[];
                var ctx1 = document.getElementById('chart1').getContext('2d');
                window.myChart[1] = new Chart(ctx1, {
                    type: 'line',
                    data: {
                        datasets: [
                        {
                            label: '采样点',
                            backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                            borderColor: chartColors.blue,
                            borderWidth: 1,
                            fill: false,
                            data: []
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Channel 1'
                        },
                        elements:{
                            point:{
                                radius: 0
                            }
                        },
                        scales: {
                            xAxes: [{
                                type: 'realtime',
                                realtime: {
                                    duration: chartConfig.duration,
                                    delay: chartConfig.delay,
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: '幅度/v'
                                }
                            }]
                        },
                        // tooltips: {
                        //     mode: 'nearest',
                        //     intersect: false
                        // },
                        // hover: {
                        //     mode: 'nearest',
                        //     intersect: false
                        // }
                    }
                });

                var ctx2 = document.getElementById('chart2').getContext('2d');
			    window.myChart[2] = new Chart(ctx2, {
                    type: 'line',
                    data: {
                        datasets: [
                        {
                            label: '采样点',
                            backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                            borderColor: chartColors.blue,
                            borderWidth: 1,
                            fill: false,
                            data: []
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Channel 2'
                        },
                        elements:{
                            point:{
                                radius: 0
                            }
                        },
                        scales: {
                            xAxes: [{
                                type: 'realtime',
                                realtime: {
                                    duration: chartConfig.duration,
                                    delay: chartConfig.delay,
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: '幅度/v'
                                }
                            }]
                        },
                        tooltips: {
                            mode: 'nearest',
                            intersect: false
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: false
                        }
                    }
                });

                var ctx3 = document.getElementById('chart3').getContext('2d');
			    window.myChart[3] = new Chart(ctx3, {
                    type: 'line',
                    data: {
                        datasets: [
                        {
                            label: '采样点',
                            backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                            borderColor: chartColors.blue,
                            borderWidth: 1,
                            fill: false,
                            data: []
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Channel 3'
                        },
                        elements:{
                            point:{
                                radius: 0
                            }
                        },
                        scales: {
                            xAxes: [{
                                type: 'realtime',
                                realtime: {
                                    duration: chartConfig.duration,
                                    delay: chartConfig.delay,
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: '幅度/v'
                                }
                            }]
                        },
                        tooltips: {
                            mode: 'nearest',
                            intersect: false
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: false
                        }
                    }
                });

                var ctx4 = document.getElementById('chart4').getContext('2d');
			    window.myChart[4] = new Chart(ctx4, {
                    type: 'line',
                    data: {
                        datasets: [
                        {
                            label: '采样点',
                            backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                            borderColor: chartColors.blue,
                            borderWidth: 1,
                            fill: false,
                            data: []
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Channel 4'
                        },
                        elements:{
                            point:{
                                radius: 0
                            }
                        },
                        scales: {
                            xAxes: [{
                                type: 'realtime',
                                realtime: {
                                    duration: chartConfig.duration,
                                    delay: chartConfig.delay,
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: '幅度/v'
                                }
                            }] 
                        },
                        tooltips: {
                            mode: 'nearest',
                            intersect: false
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: false
                        }
                    }
                });

                var ctx5 = document.getElementById('chart5').getContext('2d');
                window.myChart[5] = new Chart(ctx5, {
                    type: 'line',
                    data: {
                        datasets: [
                        {
                            label: '采样点',
                            backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                            borderColor: chartColors.blue,
                            borderWidth: 1,
                            fill: false,
                            data: []
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Channel 5'
                        },
                        elements:{
                            point:{
                                radius: 0
                            }
                        },
                        scales: {
                            xAxes: [{
                                type: 'realtime',
                                realtime: {
                                    duration: chartConfig.duration,
                                    delay: chartConfig.delay,
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: '幅度/v'
                                }
                            }]
                        },
                        // tooltips: {
                        //     mode: 'nearest',
                        //     intersect: false
                        // },
                        // hover: {
                        //     mode: 'nearest',
                        //     intersect: false
                        // }
                    }
                });

                var ctx6 = document.getElementById('chart6').getContext('2d');
			    window.myChart[6] = new Chart(ctx6, {
                    type: 'line',
                    data: {
                        datasets: [
                        {
                            label: '采样点',
                            backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                            borderColor: chartColors.blue,
                            borderWidth: 1,
                            fill: false,
                            data: []
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Channel 6'
                        },
                        elements:{
                            point:{
                                radius: 0
                            }
                        },
                        scales: {
                            xAxes: [{
                                type: 'realtime',
                                realtime: {
                                    duration: chartConfig.duration,
                                    delay: chartConfig.delay,
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: '幅度/v'
                                }
                            }]
                        },
                        tooltips: {
                            mode: 'nearest',
                            intersect: false
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: false
                        }
                    }
                });

                var ctx7 = document.getElementById('chart7').getContext('2d');
			    window.myChart[7] = new Chart(ctx7, {
                    type: 'line',
                    data: {
                        datasets: [
                        {
                            label: '采样点',
                            backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                            borderColor: chartColors.blue,
                            borderWidth: 1,
                            fill: false,
                            data: []
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Channel 7'
                        },
                        elements:{
                            point:{
                                radius: 0
                            }
                        },
                        scales: {
                            xAxes: [{
                                type: 'realtime',
                                realtime: {
                                    duration: chartConfig.duration,
                                    delay: chartConfig.delay,
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: '幅度/v'
                                }
                            }]
                        },
                        tooltips: {
                            mode: 'nearest',
                            intersect: false
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: false
                        }
                    }
                });

                var ctx8 = document.getElementById('chart8').getContext('2d');
			    window.myChart[8] = new Chart(ctx8, {
                    type: 'line',
                    data: {
                        datasets: [
                        {
                            label: '采样点',
                            backgroundColor: color(chartColors.blue).alpha(0.5).rgbString(),
                            borderColor: chartColors.blue,
                            borderWidth: 1,
                            fill: false,
                            data: []
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Channel 8'
                        },
                        elements:{
                            point:{
                                radius: 0
                            }
                        },
                        scales: {
                            xAxes: [{
                                type: 'realtime',
                                realtime: {
                                    duration: chartConfig.duration,
                                    delay: chartConfig.delay,
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: true,
                                    labelString: '幅度/v'
                                }
                            }] 
                        },
                        tooltips: {
                            mode: 'nearest',
                            intersect: false
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: false
                        }
                    }
                });
			
			startFeed();
		};

		var colorNames = Object.keys(chartColors);
	
        function checkboxOnClick(checkbox, num){
            if(checkbox.checked==false){
                $("#chart"+num).parent().hide();
            }
            else{
                $("#chart"+num).parent().show();
            }
        }
    
	</script>
</body>

</html>